.tomodomo-radio-image-control {
	.components-radio-control__option {
		display: flex;
		margin-top: 0.75em;
	}
}

	.tomodomo-radio-image-control__option {
		border: 1px solid #CCC;
		border-radius: 4px;
		overflow: hidden;

		display: flex;
		flex-direction: column;

		background: #DDD;

		input[type="checkbox"]:checked + label > &,
		input[type="radio"]:checked + label > & {
			color: white;
			background: #0081C8; // @todo: these colours should inherit from the active theme
			border-color: #0061A5;
		}
	}

	.tomodomo-radio-image-control__text {
		display: block;
		padding: 0.4em 0.5em;
	}

	.tomodomo-radio-image-control__image {
		line-height: 0;
	}
