.components-block-design-control {
	.components-radio-control__option {
		display: flex;
		margin-top: 0.75em;
	}
}

	.components-block-design-control__option {
		border: 1px solid #CCC;
		border-radius: 4px;
		overflow: hidden;

		display: flex;
		flex-direction: column;

		background: #DDD;

		input[type="radio"]:checked + label > & {
			background: #0081C8;
			color: white;
			border-color: #0061A5;
		}
	}

	.components-block-design-control__text {
		display: block;
		padding: 0.4em 0.5em;
	}

	.components-block-design-control__image {
		line-height: 0;
	}
